*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 16px;
}
body {
  box-sizing: border-box;
  color: #fff;
  font-family: "Aldrich", sans-serif;
  background-color: #2f5faf;
  background-position: 0 1px;

  background-image: -webkit-repeating-linear-gradient(
      deg,
      rgba(125, 170, 242, 0.4),
      rgba(125, 170, 242, 0.4) 1px,
      transparent 1px,
      transparent 30px
    ),
    -webkit-repeating-linear-gradient(90deg, rgba(125, 170, 242, 0.4), rgba(
            125,
            170,
            242,
            0.4
          )
          1px, transparent 1px, transparent 30px);
  background-image: repeating-linear-gradient(
      -45deg,
      rgba(125, 170, 242, 0.4),
      rgba(125, 170, 242, 0.4) 1px,
      transparent 1px,
      transparent 30px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(125, 170, 242, 0.4),
      rgba(125, 170, 242, 0.4) 1px,
      transparent 1px,
      transparent 30px
    );
}
.timer {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
}
.timer__header {
  padding: 1rem;
}

.timer__heading {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: -25%;
  transform: calc(-50%, -50%);
  color: rgba(0, 0, 0, 0);

  transform: skew(63deg, 0deg);
  letter-spacing: 15px;
  text-shadow: 0 0 3px rgba(0, 0, 128, 0.25);
  z-index: 50;
}
.timer__heading::after {
  content: attr(data-text);
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
  position: absolute;
  top: 15px;
  left: 25px;
  color: rgba(255, 255, 255, 1);

  transform: skew(-63deg) scale(1, 0.6);

  text-shadow: -1px -1px 1px #aaa, -2px -2px 1px #999, -3px -3px 1px #888,
    -4px -4px 1px #777, -5px -5px 1px #666, -6px -6px 1px #555,
    -7px -7px 5px rgba(0, 0, 128, 0.75);
  z-index: 100;
}
.timer__clock {
  display: flex;
}
.timer__buttons {
  width: 450px;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  position: relative;
}
.timer__audio {
  position: absolute;
  bottom: -100px;
}
